.container-fluid {

    color: black;
    height: 60vh;
    align-items: left;
}

hr {
    background-color: black;
}

.container-fluid form {
    display: flex;
    margin: 7px 30px;
    padding: 0 6px;
    max-width: 500px;
    flex-direction: column;
    border-radius: 20px;
    font-family: 'Patrick Hand';margin-left: 27px;

    
}
.row{
    background-image: url(../../assets/images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    width: 80%;
    margin-left: 70px;
}

h2 {
    font-family:  cursive;
    padding-top: 15px;
    font-weight: 500;
}
button {
    margin-top:20px;
    color: white;
    background-color: orangered;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;

}
label {
    font-size: 16px;
}
.home{
    background-color: rgb(219, 208, 208);
}

