input {
    width: 400px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cancelbtn {
    width: 130px;
    height: 40px;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    background-color: rgb(121, 121, 126);
}
.signupbtn{
    width: 130px;
    height: 40px;
    font-size: 19px;
    margin-left: 15px; 
    color: white;
    border-radius: 30px;
    background-color: rgb(71, 71, 231);
}
.form-cont{
    width: 550px;
    background-color: white;
    text-align: center;
    padding-bottom: 40px;
}
.container-fluid{
    background-image: url(https://images.unsplash.com/photo-1551739440-5dd934d3a94a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29tcHV0ZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    padding-bottom: 30px;
    padding-top: 30px;
}