<div class="landing">
    <img src="ets/logo/logo.png?raw=true" alt="">
    <h1>REQUEST</h1>
    <h1>LEAVE</h1>
    <p>EVERYONE DESERVES A VACATION </p>

    
</div>
<div class="container about" id="about-us-page">

    <p>
        Don't we just all get tired of the office and want to chill relax be with our friends and family??
    </p>
    <p>
        Well you are in luck because with this website you get to request for a leave anytime of the year.
    </p>
    <p>
        Ah! yes ther is a catch you need to give the reason why you need a leave also the how long you needthe leave for.
    </p>

</div>
<div class="services">
    <div id="servicesoverlay">
        <p>Almost everything will work again if you unplug it for a few minutes...Including you</p>
        <p>
            You know what they say too much work....
        </p>
        <p>Calm mind brings inner strength and self-confidence, so that's very important for good health</p>
        <p>
            There is nothing better than time with family
        </p>
        <p>
            Some of your best ideas come when you're on vacation
        </p>
    </div>
</div>
<div class="col-md-4">
    <div id="design">
    </div>
</div>
<div class="col-md-4">
    <div id="development">

    </div>
</div>
<div class="portfolio">
    <h2>Job Groups</h2>
    <div class="row" id="portfolio">
        <div class="col-md-3" id="work1">
            <img src="https://media.istockphoto.com/photos/industrial-technology-concept-communication-network-industry-40-picture-id1263390703?k=20&m=1263390703&s=612x612&w=0&h=C5HPYRxiOV_vxO2qQL-rde8g54YofiY-EzzAu2D12Uc=" alt="">
            <p id="black1" class="text">BLACK</p>
        </div>
        <div class="col-md-3" id="work2">
            <img src="https://media.istockphoto.com/photos/happy-and-smiling-african-american-male-doctor-wearing-white-coat-on-picture-id1315185798?k=20&m=1315185798&s=612x612&w=0&h=4tRxip0l5slLlo8NM2YIepLgEAghMOSGhaGEuQ0GFFA=" alt="">
            <p id="black2" class="text">ONTARIO</p>
        </div>
        <div class="col-md-3" id="work3">
            <img src="https://media.istockphoto.com/photos/back-of-a-security-guard-picture-id471852401?k=20&m=471852401&s=612x612&w=0&h=U_UYHI2QghynKpPrnXHpbMEr7mPv_KXZDxFEu5cWB7U=" alt="">
            <p id="black3" class="text">GRAPHICS</p>
        </div>
        <div class="col-md-3" id="work4">
            <img src="https://media.istockphoto.com/photos/chef-wearing-a-facemask-while-decorating-a-plate-in-her-kitchen-the-picture-id1307746953?k=20&m=1307746953&s=612x612&w=0&h=GNNPp0z-joJBqc-st05VYnZd1Gsb8ndb7htDm5oLN5I=" alt="">
            <p id="black4" class="text">MOVIES</p>
        </div>
    </div>
    <div class="row" id="portfolio">
        <div class="col-md-3" id="work5">
            <img src="https://media.istockphoto.com/photos/spring-cleaning-picture-id540383130?k=20&m=540383130&s=612x612&w=0&h=ofye4mkfQYd0AyZEj6bUfLewkpqMK8pglfIiPiFllwo=" alt="">
            <p id="black5" class="text">HEALTH</p>
        </div>
        <div class="col-md-3" id="work6">
            <img src="https://media.istockphoto.com/photos/electricians-working-on-a-fuse-box-picture-id1214561872?k=20&m=1214561872&s=612x612&w=0&h=UbUlJyDPC_rjK5DwsqBLomGxX_Zt35CqBlEBOUyDeos=" alt="">
            <p id="black6" class="text">AGE-CONTROL</p>
        </div>
        <div class="col-md-3" id="work7">
            <img src="https://media.istockphoto.com/photos/cashier-scanning-products-at-a-grocery-store-wearing-a-facemask-picture-id1225040489?k=20&m=1225040489&s=612x612&w=0&h=5vupvT-PxI5urmaji5nR5YSn5rv2ohrndOPJuhKzABI=" alt="">
            <p id="black7" class="text">BURNED</p>
        </div>
        <div class="col-md-3" id="work8">
            <img src="https://media.istockphoto.com/photos/top-above-high-angle-view-portrait-of-his-he-nice-attractive-focused-picture-id1279133399?k=20&m=1279133399&s=612x612&w=0&h=nglalJAUnM8-udl_WV3YxxwjtDnfZUMSCGLpgZ-FiX8=" alt="">
            <p id="black8" class="text">GIRAFFE</p>
        </div>
    </div>
</div>
<div class="container-fluid contact">
    <h2>Request Here</h2>
    <form action="https://gmail.us6.list-manage.com/subscribe/post?u=1a4c7f5bfd1499a15a41bde27&amp;id=c1e503d467" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group form-inline">
            <input type="text" class="form-control" placeholder="Name" name="FNAME" id="mce-FNAME" size="25" value="" />
            <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" size="25" value="" placeholder="Email..." />
        </div>
        <div>
            <textarea class="form-control" name="MMERGE6" id="mce-MMERGE6" cols="30" rows="8" placeholder="Your message here....."></textarea>
        </div>
        <button class="btn btn-primary col-md-1" type="submit" name="subscribe" id="mc-embedded-subscribe">
          Submit
        </button>
        <div id="mce-responses" class="clear"></div>
        <div class="response" id="mce-error-response" style="display: none"></div>
        <div class="response" id="mce-success-response" style="display: none"></div>
    </form>
</div>
<footer>

    <img src="https://github.com/jonnygovish/IP3/blob/master/assets/social_icons/twitter.png?raw=true" alt="">
    <img src="https://github.com/jonnygovish/IP3/blob/master/assets/social_icons/facebook.png?raw=true" alt="">
    <img src="https://github.com/jonnygovish/IP3/blob/master/assets/social_icons/g_plus.png?raw=true" alt="">
    <img src="https://github.com/jonnygovish/IP3/blob/master/assets/social_icons/stumble_upon.png?raw=true" alt="">
    <img src="https://github.com/jonnygovish/IP3/blob/master/assets/social_icons/behance.png?raw=true" alt="">
    <img src="https://github.com/jonnygovish/IP3/blob/master/assets/social_icons/flickr.png?raw=true" alt="">
    <p>Request Leave</p>
    <p>2022</p>


</footer>